torch>=1.7.0
torchvision>=0.8.0
pillow>=9.0.0
numpy>=1.19.0
typing>=3.7.4
scikit-image>=0.17.0
huggingface_hub>=0.13.0
transformers==4.39.1
flask>=2.0.0
werkzeug>=2.0.0
requests>=2.25.0
uuid>=1.30
importlib-metadata>=4.0.0
tqdm>=4.60.0
